.post-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.post{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-evenly;
    background-color: #353d4d;
    color:white;
}
.post video{
    max-height: 100%;
}

.post img{
    max-width:100px;
}